.u-section-1 .u-sheet-1 {
  min-height: 3192px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 483px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 340px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 483px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 29px 24px 31px;
}

.u-section-1 .u-text-1 {
  margin: 11px 37px 0 7px;
}

.u-section-1 .u-text-2 {
  margin: 18px auto 0 124px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 29px 37px 0 7px;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 31px auto 0 105px;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 200px;
  filter: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 17px 30px;
}

.u-section-1 .u-image-2 {
  width: 140px;
  height: 140px;
  margin: 0 auto 0 467px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 223px;
}

.u-section-1 .u-container-layout-4 {
  padding: 18px 0;
}

.u-section-1 .u-text-4 {
  margin: 17px 43px 0 136px;
}

.u-section-1 .u-text-5 {
  margin: 20px 43px 0;
}

.u-section-1 .u-text-6 {
  margin: -12px 47px 0 40px;
}

.u-section-1 .u-text-7 {
  margin: 62px 217px 0 auto;
}

.u-section-1 .u-layout-wrap-3 {
  margin-top: 96px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 400px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  margin: 20px auto 0;
}

.u-section-1 .u-text-9 {
  margin: 20px auto 0 0;
}

.u-section-1 .u-image-3 {
  min-height: 400px;
  background-image: url("images/istockphoto-1980276924-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-layout-wrap-4 {
  margin-top: -10px;
  margin-bottom: 0;
}

.u-section-1 .u-image-4 {
  min-height: 400px;
  background-image: url("images/istockphoto-1980276924-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 457px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-text-10 {
  margin: 33px auto 0;
}

.u-section-1 .u-text-11 {
  margin: 90px auto 0 0;
}

.u-section-1 .u-layout-wrap-5 {
  margin-top: 18px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 200px;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  width: 140px;
  height: 140px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-10 {
  min-height: 414px;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 0;
}

.u-section-1 .u-text-12 {
  width: 540px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-13 {
  margin: 20px 37px 0 30px;
}

.u-section-1 .u-text-14 {
  margin-right: -118px;
  margin-left: 185px;
}

.u-section-1 .u-text-15 {
  margin: 26px 37px 0 30px;
}

.u-section-1 .u-layout-wrap-6 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-11 {
  min-height: 224px;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-text-16 {
  margin-right: auto;
  margin-left: 64px;
}

.u-section-1 .u-text-17 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-image-6 {
  min-height: 259px;
  background-image: url("images/istockphoto-1980276924-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-13 {
  min-height: 224px;
}

.u-section-1 .u-container-layout-13 {
  padding: 30px;
}

.u-section-1 .u-text-18 {
  margin-right: 77px;
  margin-left: auto;
}

.u-section-1 .u-text-19 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-image-7 {
  min-height: 239px;
  background-image: url("images/istockphoto-1980276924-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-14 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-15 {
  min-height: 239px;
}

.u-section-1 .u-container-layout-15 {
  padding: 30px;
}

.u-section-1 .u-text-20 {
  margin: 20px auto 0 26px;
}

.u-section-1 .u-text-21 {
  margin: 20px 0 0;
}

.u-section-1 .u-image-8 {
  min-height: 200px;
  background-image: url("images/istockphoto-1980276924-612x612.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-16 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2623px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 398px;
  }

  .u-section-1 .u-image-1 {
    height: 273px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 398px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 5px;
  }

  .u-section-1 .u-layout-wrap-2 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 165px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 184px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 301px;
  }

  .u-section-1 .u-text-5 {
    margin-right: -16px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 91px;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-top: 68px;
    position: relative;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 330px;
  }

  .u-section-1 .u-image-3 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-wrap-4 {
    position: relative;
  }

  .u-section-1 .u-image-4 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 377px;
  }

  .u-section-1 .u-layout-wrap-5 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 165px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 341px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin: 14px 0 0;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-6 {
    margin-bottom: -404px;
    position: relative;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 185px;
  }

  .u-section-1 .u-text-16 {
    margin-bottom: 0;
    margin-top: 20px;
  }

  .u-section-1 .u-image-6 {
    min-height: 214px;
  }

  .u-section-1 .u-layout-cell-13 {
    min-height: 185px;
  }

  .u-section-1 .u-image-7 {
    min-height: 197px;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 197px;
  }

  .u-section-1 .u-image-8 {
    min-height: 165px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1833px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 305px;
  }

  .u-section-1 .u-image-1 {
    height: 200px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 91px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 126px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 231px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 570px;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-top: -412px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    min-height: 253px;
  }

  .u-section-1 .u-image-4 {
    min-height: 253px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 126px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-wrap-6 {
    margin-bottom: -1825px;
  }

  .u-section-1 .u-layout-cell-11 {
    min-height: 100px;
  }

  .u-section-1 .u-text-16 {
    margin-left: 45px;
  }

  .u-section-1 .u-image-6 {
    min-height: 164px;
  }

  .u-section-1 .u-layout-cell-13 {
    min-height: 100px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 55px;
  }

  .u-section-1 .u-image-7 {
    min-height: 151px;
  }

  .u-section-1 .u-layout-cell-15 {
    min-height: 100px;
  }

  .u-section-1 .u-image-8 {
    min-height: 126px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3172px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 347px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.1111111111111112rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 95px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 380px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 173px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 1647px;
    margin-right: 163px;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-top: -1476px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    min-height: 380px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 95px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-6 {
    margin-bottom: -1709px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    min-height: 369px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    min-height: 340px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-8 {
    min-height: 284px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2350px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 288px;
  }

  .u-section-1 .u-image-1 {
    height: 214px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 60px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 180px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 109px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 1431px;
    margin-right: 103px;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-top: -1253px;
  }

  .u-section-1 .u-image-3 {
    min-height: 239px;
  }

  .u-section-1 .u-image-4 {
    min-height: 239px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 60px;
  }

  .u-section-1 .u-text-12 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-6 {
    margin-bottom: -1845px;
  }

  .u-section-1 .u-image-6 {
    min-height: 232px;
  }

  .u-section-1 .u-image-7 {
    min-height: 214px;
  }

  .u-section-1 .u-image-8 {
    min-height: 179px;
  }
}